*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  /* Black overlay with adjustable opacity */
        url(./img/background.webp);  /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
#state{
    font-size: 2rem;
    color: rgb(10, 10, 10);
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
}
button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0f0f0f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
    &:hover{
        background-color: #333;
        color: #fff;
    }
    &:active{
        background-color: #666;
        color: #fff;
    }
}
#result{
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 1px #e70606;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    list-style: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.collage{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f46;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
}
